html {
  box-sizing: border-box;
}
/* *,
*::before,
*::after {
  box-sizing: inherit;
} */

:root {
  --primary-text-color: #212121;
  --bg-main-color: #f5f5f5;
  --section-text-color: #757575;
  --accent-color: #2196f3;
  --main-white: #ffffff;
  --footer-bg: #2f303a;
  --bg-teams: #f5f4fa;
}
/* цвет лого #000000 #2196F3 */
/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* черный цвет #000000 */
/* белый цвет #FFFFFF */
/* акцент #2196F3 */
body {
  /* padding-top: 80px; */
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-main-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}
main {
  background-color: var(--bg-main-color);
}

/* reset styles */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Roboto';
  margin-top: 0;
  margin-bottom: 0;
}

/* header */
.page-header {
  width: 1600px;
  height: 80px;
  /* position: fixed;
  top: 0;
  left: 0; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* padding-right: 215px; */
  /* text-align: center; */
  display: flex;
  background: var(--main-white);
}
.disp-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.logo-up {
  color: var(--accent-color);
  align-self: center;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* letter-spacing: 0.03em; */
}
.logo-down {
  color: var(--accent-color);

  /* position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 1688px; */

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* letter-spacing: 0.03em; */
}
.span-logo-up {
  color: #000000;
}
.span-logo-down {
  color: var(--main-white);
}

/* nav */
.ul-up-cont {
  display: flex;
  margin-left: auto;
  margin-right: 215px;
  margin-top: 0;
  margin-bottom: 0;
}
/* .ul-up-cont::before{
  content: "";
  background-image: url("../images/envelope.svg");
} */
/* .ul-up-con:last-child {
  margin-right: 0;
} */
.site-nav {
  display: flex;
  margin-left: 93px;
}
.header-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-link.current::after {
  position: absolute;

display: block;
content: '';
width: 100%;
height: 4px;
border-radius: 2px;
bottom: -1px;

background-color: var(--accent-color);
}
.site-nav .link {
  /* display: block;
  padding-top: 32px;
  padding-bottom: 32px; */
  /* margin-right: 50px; */

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* .site-nav .link + .link{
  margin-left: 50px;
} */
/* .site-nav .link:last-child {
  margin-right: 0;
} */
.site-nav .link:not(last-child) {
  margin-right: 50px;
}
.link.current {
  color: var(--accent-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.contact-up {
  margin-right: 50px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--section-text-color);
}
.contact-up:hover {
  color: var(--accent-color);
}
/* .contact-up::before {
  content:'';
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: rgb(9, 76, 177);
  background-image: url('../images/envelope.png');
  background-size: contain;
} */
.icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  /* outline: 1px solid black; */
  /* background-image: url("../images/envelope.svg"); */
  background-size: contain;
  /* background: #2196F3; */
}
.icon:hover,
.icon:focus {
  width: auto;
  border: 1px solid #2196f3;
}

.contact-down {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.street-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-white);
}

/* main */
.img {
  margin-right: 30px;
  display: block;
}
.img1 {
  justify-content: center;
  /* margin-left: 215px; 
  margin-right: auto; */
  display: flex;
}
/* .img1.img:last-child{
  margin-right: 0;
} */
.hero {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 1600px; */
  /* height: 600px; */
  margin-bottom: 94px;
  text-align: center;

  flex-wrap: wrap;
  /* background-image: linear-gradient(to right
    rgba(223, 12, 93, 0.4), rgba(18, 161, 218, 0.4),
    url("../images/main-bg.jpg")
  ); */
  /* background: #2F303A 40%; */
  /* background-image: url('../images/main-bg.jpg'); */

  /* opacity: 40%; */
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid black; */

  /* filter: brightness(40%); */
  /* background-color: rgba(47, 48, 58, 0.4); */
  /* background-image: url('../images/main-bg.jpg'); */
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/main-bg.jpg');

  /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../images/main-bg.jpg'); */

  /* background-size: contain; */
  /* background-position: center; */
}
/* .hero-div{
  filter: brightness(100%);
} */
.hero-title {
  max-width: 696px;
  height: 120px;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  /* align-items: center; */

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white);
}

/* .section {
  margin-left: 215px;
} */
.ul-section1 {
  margin-left: 215px;
  margin-right: 215px;
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.section-title {
  text-align: start;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  margin-top: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.section-title1 {
  margin-top: 0;
  margin-bottom: 50px;
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  /* letter-spacing: 0.03em; */
  color: var(--primary-text-color);
}
.section-title-team {
  /* margin-top: 94px; */
  margin-bottom: 50px;
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  /* letter-spacing: 0.03em; */
  color: var(--primary-text-color);
}
.section-title2 {
  margin-top: 30px;
  margin-bottom: 10px;
  /* font-family: 'Roboto'; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  /* letter-spacing: 0.03em; */
  color: var(--primary-text-color);
}
.section-text {
  text-align: start;
  width: 270px;
  margin-right: 30px;
  margin-top: 0;
  margin-bottom: 0;
  /* font-family: 'Roboto'; */
  font-size: 14px;
  line-height: 1.7;
  /* letter-spacing: 0.03em; */
  color: var(--section-text-color);
}
.ul-section1.section-text:last-child {
  margin-right: 0;
}

.section-text1 {
  margin-top: 0;
  margin-bottom: 0;
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  /* letter-spacing: 0.03em; */
  color: var(--section-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* button */
.button {
  border: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  /* margin-top: 30px; */
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--main-white);
  border-radius: 4px;
}

.button:hover,
.button:focus {
  /* position: absolute; */
  width: 220px;
  height: 60px;
  left: 692px;
  top: 430px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  /* color: var(--primary-text-color);
  background: #f5f4fa; */
}

/* portfolio */
/* .filter-buttons {
  background: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
} */
.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-button {
  display: inline-block;
  min-width: 73px;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;

  background: #f5f4fa;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .portfolio-button:last-child {
  margin-right: 0;
} */
.portfolio-button:hover,
.portfolio-button:focus {
  background: var(--accent-color);
  color: var(--main-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-button.current {
  color: var(--main-white);
  background: var(--accent-color);
}

/* portfolio-title */
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.portfolio-text1 {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.87;
  /* letter-spacing: 0.03em; */
  color: var(--section-text-color);
}
.portfolio-text2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.55;
  /* letter-spacing: 0.03em; */
  color: var(--main-white);
  background: var(--accent-color);
}
/* .portfolio-text-bg{
  position: absolute;
width: 370px;
height: 294px;
background: var(--accent-color);
} */
.client-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* footer */
.footer-submit {
  /* width: 570px; */
  margin-left: 93px;
}
.footer-submit-form {
  display: flex;
}

.footer-submit-text {
  padding: 20px 0px 10px 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;

  color: var(--main-white);
}
.footer-submit-input {
  width: 358px;
  margin: 0;
  padding: 13px 16px;
  border-radius: 4px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--footer-bg);
  color: var(--main-white);
}
.footer-submit-input:hover,
.footer-submit-input:focus {
  cursor: pointer;
  border: 1px solid var(--accent-color);
}

.footer-submit-input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}
.footer-submit-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: none;
  margin: 0;
  padding: 8px 29px;
  border-radius: 4px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-text-color);
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;
  min-height: 43px;
  margin-left: 12px;
}
.footer-submit-btn::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 20px;
  margin-left: 10px;
  background-image: url(../images/send.svg);
}

.footer-page {
  margin-top: 94px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}
.conteiner-footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* conteiners */

.conteiner {
  justify-content: center;
  align-items: center;
  /* padding: 0;
  margin: 0; */
  /* display: flex; */
  /* padding-left: 215px; */
  /* padding-right: 215px; */
  padding-top: 32px;
  padding-bottom: 32px;
  /* margin-left: auto;
  margin-right: auto;
  margin-top: 0px; */
  /* margin-bottom: 94px; */
  /* outline: 1px var(--accent-color); */
  /* border: 1 solid #ececec; */
  background-color: var(--main-white);
}
.conteiner1 {
  /* padding: 0;
  margin: 0; */
  /* padding-left: 15px; */
  /* padding-right: 15px; */
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 94px; */
  margin-bottom: 94px;
  /* border: 1px solid #ececec; */
  background-color: var(--bg-main-color);
}
.conteiner2 {
  /* margin-bottom: 94px; */
  padding-top: 94px;
  padding-bottom: 94px;
  /* padding-left: 215px;
  padding-right: 215px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 94px;
  margin-bottom: 94px;
  border: 1px solid #ececec; */
  background-color: var(--bg-teams);
}
.conteiner3 {
  margin-left: auto;
  margin-right: 30px;
  /* margin-bottom: 94px; */
  border: 1px solid #ececec;
  background-color: var(--main-white);
  width: 272px;
  height: 428px;
  left: 215px;
  top: 1782px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* social-individuals */
.social-inds {
  margin-right: 30px;
  display: flex;
}
.social-individual1 {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  margin-top: 16px;

  background-image: url('../images/instagram1.svg');
  background-color: #ffffff;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-individual1:hover,
.social-individual1:focus {
  cursor: pointer;
  background-color: var(--accent-color);
  background-image: url('../images/instagram2.svg');
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-individual2 {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  margin-top: 16px;

  background-image: url('../images/twitter1.svg');
  background-color: #ffffff;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-individual2:hover,
.social-individual2:focus {
  cursor: pointer;
  background-color: var(--accent-color);
  background-image: url('../images/twitter2.svg');
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-individual3 {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  margin-top: 16px;

  background-image: url('../images/facebook1.svg');
  background-color: #ffffff;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-individual3:hover,
.social-individual3:focus {
  cursor: pointer;
  background-color: var(--accent-color);
  background-image: url('../images/facebook2.svg');
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-individual4 {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  margin-top: 16px;

  background-image: url('../images/linkedin1.svg');
  background-color: #ffffff;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-individual4:hover,
.social-individual4:focus {
  cursor: pointer;
  background-color: var(--accent-color);
  background-image: url('../images/linkedin2.svg');
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-foto .conteiner3:last-child {
  margin-right: 0;
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* background-color: var(--bg-main-color); */
}
.portfolio-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* .item-port{
  width: calc((100 - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #0d8613;
} */
.item-port {
  margin: 15px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* margin-right: 30px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 30px;

  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16); */
}
.item-port:hover,
.item-port:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.item-port:hover .portfolio-overlay {
  transform: translateY(0);
}

/* .item-port:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 0;
}
.item-port:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

.gallery-conteiner {
  /* justify-content: space-between; */
  /* width: 1230px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto; */
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bg-main-color);
}
.portfolio-description {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;

  display: inline-block;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-description-text {
  position: absolute;
  top: 0;
  left: 0;

  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;

  color: var(--main-white);
}
.portfolio-border {
  border: 1px solid #eeeeee;
  border-top: transparent;
  padding: 20px 24px;
}

.team-foto {
  justify-content: center;
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 0;
  margin-bottom: 0;
  /* margin-right: 30px; */
  display: flex;
}
.conteiner-adresses {
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
}
.ul-adres {
  width: 231px;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
.conteiner-social {
  margin-left: 80px;
  width: 206px;
  /* background-color: var(--footer-bg); */
}
.footer-social-text {
  padding: 20px 0px 10px 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;

  color: var(--main-white);
}
.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0;
  margin-top: 0;
  list-style: none;
}
.footer-social-link {
  display: block;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: #ffffff;
  background-color: #ffffff10;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
.footer-social-icon {
  margin: 12px 0px 0px 12px;
  fill: currentColor;
}


.list-item {
  width: 270px;
  height: 250px;
  padding: 0;
  margin-left: 0;
  margin-right: 30px;
}
.list-item:last-child {
  margin-right: 0;
}
.list-item::before {
  display: inline-block;
  content: '';
  width: 270px;
  height: 120px;
  background-image: url('../images/antenna.svg');
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}
.list-item:nth-child(2):before {
  background-image: url('../images/clock.svg');
}
.list-item:nth-child(3):before {
  background-image: url('../images/diagram.svg');
}
.list-item:nth-child(4):before {
  background-image: url('../images/astronaut.svg');
}
/* .list-item:hover::before{
  background-color: rgb(10, 172, 10);
} */
/* шаблон link-social */
.link-social {
  width: 44px;
  height: 44px;
  /* display: inline-block;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  margin-top: 20px;

  background-image: url('../images/instagram2.svg');
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%; */
}
/* .link-social:nth-child(2) {
  background-image: url('../images/twitter2.svg');
}
.link-social:nth-child(3) {
  background-image: url('../images/facebook2.svg');
}
.link-social:nth-child(4) {
  background-image: url('../images/linkedin2.svg');
}
.link-social:hover {
  cursor: pointer;
  background-color: var(--accent-color);
} */

/* logo-company */
.company {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.company-icon {
  margin-right: 30px;
  background-color: var(--bg-main-color);
  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}
.company-icon:hover,
.company-icon:focus {
  /* color: #2196f3; */
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.work-item {
  position: relative;
}
.work-text {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 27px 0px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--main-white);
  background-color: rgba(47, 48, 58, 0.8);
}

.backdrop {
  position: fixed;
  top: 0;
  /* left: 0; */

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: scale(2);
}
.modal {
  width: 528px;
  height: 581px;
  background-color: var(--main-white);

  position: relative;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {
  fill:var(--black-logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.close-btn {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  right: 8px;
  top: 8px;
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;
}
.close-btn:hover .modal-icon {
  fill: var(--accent-color)
}

/* FORM */
.form {
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}
.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}
.top-title {
  margin-top: 12px;
}
.form-field{ 
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-label,
.comment-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--section-text-color);
  margin-bottom: 4px;
}
.form-input {
  width: 100%;
  margin: 0;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover,
.form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(25%);

  display: inline-block;
  width: 12px;
  height: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover ~ .input-icon,
.form-input:focus ~ .input-icon {
  fill:var(--accent-color)
}
textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  height: 120px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
textarea:hover, 
textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}
.comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0,5);
}
.form-field-chek {
  padding-left: 14px;
  margin-top: 25px;
  margin-bottom: 30px;
}
.icon-chek {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
 }
 .form-checkbox {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.form-checkbox:checked + .icon-chek {
  background-image: url(../images/icon-check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--accent-color);
  background-origin: border-box;
  border-color: var(--accent-color);
}
.policy-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  color: var(--section-text-color);
}
.policy-link {
  margin-left: 4px;
  color:   rgba(33, 150, 243, 1);
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
 
  margin: 0 auto;
  padding: 10px 56px;
  
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--main-white);
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover,
.form-btn:focus {
  background-color: #188CE8;
}
/* FLIP CARD */
.flip-card {
  background-color: transparent;
  width: 270px;
  height: 260px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  display: flex;
  justify-content: center;
  /* padding-left: 25%; */
  /* margin: 0; */
  /* padding-top: 35%; */
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  align-items: center;
  /* text-align: center; */
}